<%
local sys  = require "luci.sys"
local fs = require "nixio.fs"
local uci = require "luci.model.uci".cursor()
local ntm = require "luci.model.network".init()
local scutclient_version = luci.sys.exec("opkg list-installed scutclient | cut -d ' ' -f 3")
local luci_app_scutclient_version = luci.sys.exec("opkg list-installed luci-app-scutclient | cut -d ' ' -f 3")
local scutclient_status = {}
scutclient_status.enable = uci:get_first("scutclient", "option", "enable")
scutclient_status.username = uci:get_first("scutclient", "scutclient", "username")
scutclient_status.password = uci:get_first("scutclient", "scutclient", "password")
scutclient_status.hostname = uci:get_first("scutclient", "drcom", "hostname")
scutclient_status.version = uci:get_first("scutclient", "drcom", "version")
scutclient_status.hash = uci:get_first("scutclient", "drcom", "hash")
scutclient_status.server_auth_ip = uci:get_first("scutclient", "drcom", "server_auth_ip")
local mode_links = {}
mode_links.base = luci.dispatcher.build_url("admin/network/scutclient/status")
mode_links.redial = mode_links.base.."?redial=1"
mode_links.logoff = mode_links.base.."?logoff=1"

local stat, wan_nets = pcall(ntm.get_wan_networks, ntm)
local wan, wandev
if stat then
	if #wan_nets > 0 then
		wan = wan_nets[1]
		wandev = wan:get_interface()
	end
else
	wan = ntm:get_wannet()
	wandev = ntm:get_wandev()
end

function page_moved()
	return (uci:get_first("scutclient", "luci", "mainorder", 10) == 10)
end

function get_client_status(exec_name)
	return (os.execute("pidof scutclient > /dev/null 2>/dev/null") == 0)
end

%>

<%+header%>

<fieldset class="cbi-section">
<div>
	<table width="100%" cellspacing="10">
		<tbody>
           <tr class="cbi-section-table-row cbi-rowstyle-1">
				<td width="33%"><strong>主程序是否启用</strong></td>
                <% if scutclient_status.enable then %>
                <td>是</td>
                <% else %>
                <td>否</td>
                <% end %>
			</tr>
        
			<tr class="cbi-section-table-row cbi-rowstyle-1">
				<td width="33%"><strong>主程序运行状态</strong></td>
				<% if get_client_status("scutclient") then %>
				<td style="color: red;">运行中</td>
				<% else %>
				<td style="color: red;">未运行</td>
				<% end %>
			</tr>

           <tr class="cbi-section-table-row cbi-rowstyle-1">
				<td width="33%"><strong>快捷功能</strong></td>
				<td>
					<a name="logoff" href="<%=mode_links.logoff%>">下线</a>
                   &nbsp;&nbsp;     
					<a name="redial" href="<%=mode_links.redial%>">重拨</a>
				</td>
			</tr>
            
			<% if wan then %>
			<tr class="cbi-section-table-row cbi-rowstyle-2" id="all_status_ipaddr">
				<td width="33%"><strong>IPv4 地址</strong></td>
				<td id="status_ipaddr"><%=wan:ipaddr()%></td>
			</tr>

			<tr class="cbi-section-table-row cbi-rowstyle-2" id="all_status_netmask">
				<td width="33%"><strong>IPv4 子网掩码</strong></td>
				<td id="status_netmask"><%=wan:netmask()%></td>
			</tr>

			<tr class="cbi-section-table-row cbi-rowstyle-2" id="all_status_gateway">
				<td width="33%"><strong>IPv4 网关</strong></td>
				<td id="status_gateway"><%=wan:gwaddr()%></td>
			</tr>

			<tr class="cbi-section-table-row cbi-rowstyle-2" id="all_status_dns">
				<td width="33%"><strong>DNS 服务器</strong></td>
				<td id="status_dns"><%=table.concat(wan:dnsaddrs(), ",")%></td>
			</tr>

			<tr class="cbi-section-table-row cbi-rowstyle-2" id="all_status_macaddr">
				<td width="33%"><strong>MAC 地址</strong></td>
				<td id="status_macaddr"><%=wandev:mac()%></td>
			</tr>
			<tr class="cbi-section-table-row cbi-rowstyle-2" id="all_status_net">
				<td width="33%"><strong>网络状态</strong></td>
				<td id="status_net">正在获取中……</td>
			</tr>
			<% else %>
			<tr class="cbi-section-table-row cbi-rowstyle-2">
				<td colspan="2" style="color: red;">WAN 接口未设置</td>
			</tr>
			<% end %>

			<tr class="cbi-section-table-row cbi-rowstyle-2">
				<td width="33%"><strong>主程序版本</strong></td>
				<td><%=scutclient_version%></td>
			</tr>
            
            <tr class="cbi-section-table-row cbi-rowstyle-2">
				<td width="33%"><strong>用户界面版本</strong></td>
				<td><%=luci_app_scutclient_version%></td>
			</tr>

			<tr class="cbi-section-table-row cbi-rowstyle-2">
				<td width="33%"><strong>认证账号</strong></td>
				<td><%=scutclient_status.username%></td>
			</tr>
		</tbody>
	</table>
</fieldset>

<script type="text/javascript" language="javascript">
	window.alert = function(txt){
			 var shield = document.createElement("DIV");
			 shield.id = "shield";
			 shield.style.position = "absolute";
			 shield.style.left = "0px";
			 shield.style.top = "0px";
			 shield.style.width = "100%";
			 shield.style.height = document.body.scrollHeight+"px";
			 shield.style.background = "#333";
			 shield.style.textAlign = "center";
			 shield.style.zIndex = "10000";
			 shield.style.filter = "alpha(opacity=0)";
			 var alertFram = document.createElement("DIV");
			 alertFram.id="alertFram";
			 alertFram.style.position = "absolute";
			 alertFram.style.left = "50%";
			 alertFram.style.top = "50%";
			 alertFram.style.marginLeft = "-225px";
			 alertFram.style.marginTop = "-75px";
			 alertFram.style.width = "450px";
			 alertFram.style.height = "150px";
			 alertFram.style.background = "#ccc";
			 alertFram.style.textAlign = "center";
			 alertFram.style.lineHeight = "150px";
			 alertFram.style.zIndex = "10001";
			 strHtml = "<ul class='ifacebox' style='list-style:none;margin:0px;padding:0px;width:100%'>";
			 strHtml += " <li class='ifacebox-head' style='background:#DD828D;text-align:center;padding-left:20px;font-size:16px;font-weight:bold;height:25px;line-height:25px;border:1px solid #F9CADE;'><strong>温馨提示</strong></li>";
			 strHtml += " <li class='ifacebox-body' style='background:#fff;text-align:center;font-size:20px;height:120px;line-height:40px;border-left:1px solid #F9CADE;border-right:1px solid #F9CADE;'onclick='doOk()'>"+txt+"</li>";
			 strHtml += "</ul>";
			 alertFram.innerHTML = strHtml;
			 document.body.appendChild(alertFram);
			 this.doOk = function(){
				 alertFram.style.display = "none";
				 shield.style.display = "none";
			 }
			 alertFram.focus();
			 document.body.onselectstart = function(){return false;};
			}
	if(document.getElementById("wan_status") == null)
	{
		var ip = document.getElementById("status_ipaddr").innerHTML;
		var gateway = document.getElementById("status_gateway").innerHTML;
		var isCorrect = true;
		for (var i=0;i<3;i++)
		{
			isCorrect = isCorrect && (parseInt(ip.match(/\d+/g)[i]) == parseInt(gateway.match(/\d+/g)[i]));
		}
		if(!isCorrect)
		{
			alert( ip + "<br/>"+ gateway +"<br/>前三位不一致，请看教程三遍！");
			document.getElementById("all_status_ipaddr").style.color="red";
			document.getElementById("all_status_gateway").style.color="red";
		}
		else
		{
			document.getElementById("all_status_ipaddr").style.color="black";
			document.getElementById("all_status_gateway").style.color="black";
		}
	}

XHR.get('<%=luci.dispatcher.build_url("admin", "network", "scutclient", "netstat")%>', null, function(xhr, res) {
	var statstr = "网络状态获取错误";
	var statelem = document.getElementById("status_net");
	if (res !== null && typeof(res) === 'object') {
		if (res['stat'] == 'internet') {
			statstr = "网络正常";
			statelem.style = "color: green";
		} else if (res['stat'] == 'no_login') {
			statstr = "校园网未登录";
			statelem.style = "color: #FFA500";
		} else if (res['stat'] == 'no_internet') {
			statstr = "网络错误";
			statelem.style = "color: red";
		}
	}
	statelem.innerHTML = statstr;
});

</script>
<%+footer%>
