<%+header%>

<h2><a id="thanks" name="thanks">致谢</a></h2>
<table style="margin:auto;">
  <tbody>
    <tr>
      <th><a href="https://github.com/981213">981213</a></th>
      <th><a href="https://github.com/forward619">forward619</a></th>
      <th><a href="https://github.com/jimstar06">jimstar06</a></th>
      <th><a href="https://github.com/libc0607">libc0607</a></th>
    </tr>
    <tr>
      <th><a href="https://github.com/YSunLIN">YSunLIN</a></th>
      <th><a href="https://github.com/helijia21">helijia21</a></th>
      <th><a href="https://github.com/hanwckf">hanwckf</a></th>
      <th><a href="https://github.com/i18nJack">i18nJack</a></th>
    </tr>
  </tbody>
</table>

<h2><a id="thanks" name="thanks">开源</a></h2>
<table style="margin:auto;">
  <tbody>
    <tr>
      <th>
<pre>
   ___  _ __   ___ _ ____      ___ __| |_ 
  / _ \| '_ \ / _ | '_ \ \ /\ / | '__| __|
 | (_) | |_) |  __| | | \ V  V /| |  | |_ 
  \___/| .__/ \___|_| |_|\_/\_/ |_|   \__|
       |_|                                
</pre>
      </th>
      <th><a href="https://openwrt.org/">OpenWrt</a></th>
    </tr>
    <tr>
      <th>
<pre>
                 _       _ _            _   
  ___  ___ _   _| |_ ___| (_) ___ _ __ | |_ 
 / __|/ __| | | | __/ __| | |/ _ | '_ \| __|
 \__ | (__| |_| | || (__| | |  __| | | | |_ 
 |___/\___|\__,_|\__\___|_|_|\___|_| |_|\__|
</pre>
      </th>
      <th><a href="https://github.com/scutclient/scutclient">scutclient</a></th>
    </tr>
    <tr>
       <th>
<pre>
 __        __   _     _   _ ___ 
 \ \      / ___| |__ | | | |_ _|
  \ \ /\ / / _ | '_ \| | | || | 
   \ V  V |  __| |_) | |_| || | 
    \_/\_/ \___|_.__/ \___/|___|
</pre>
      </th>
      <th><a href="https://github.com/i18nJack/luci-app-scutclient">luci-app-scutclient</a></th>
    </tr>
  </tbody>
</table>                              

<br>
<p style="color: #aaa; text-align:center;">本页面的软件遵照 <a href="https://www.gnu.org/licenses/agpl-3.0.html" style="color: #aaa;">AGPLv3</a> 协议开放源代码，在遵照其协议约束条件的前提下您可以自由传播和修改，特别指出禁止任何个人或组织将本代码投入商业使用。</p>
<%+footer%>
